# API URLs
NEXT_PUBLIC_AUTH_API_URL=https://localhost:7189
NEXT_PUBLIC_MESSAGES_API_URL=https://localhost:7190
NEXT_PUBLIC_REALTIME_API_URL=https://localhost:7191

# WebSocket para SignalR
NEXT_PUBLIC_REALTIME_HUB_URL=https://localhost:7191/hubs/chat
